---
interface Props {
  label: string;
  scrollToId: string;
}

const { label, scrollToId } = Astro.props;
---

<button
  class="cursor-pointer hover:underline text-white text-sm uppercase"
  x-data
  @click={`document.getElementById('${scrollToId}')?.scrollIntoView({ behavior: "smooth" })`}
>
  {label}
</button>
