include components/input
include components/section
include components/darkened-parallax

html.bg-gray-900(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title One Hand Piano

  body
    main.bg-gray-50.text-gray-700
      +darkened-parallax.h-screen.bg-header-piano
        .h-full.w-full.flex.items-center.justify-center

          nav.flex.items-center.justify-around.h-16.text-white.text-sm.uppercase.absolute.top-0.left-0.w-full
            each navItem in [{label: 'about', section: 'about'}, {label: 'contact', section: 'contact'}]
              span.cursor-pointer.main-nav-item(class="hover:underline" data-section=navItem.section)=navItem.label

          .flex.items-center.justify-center.text-6xl.text-white.w-full.uppercase.text-center.py-4 One Hand Piano

      div

        #section-about
          +section({headerText: "About One Hand Piano"})(data-aos="fade-up")
            .text-center.w-full.max-w-xl.
              For my entire life, I’ve had a great love of music. I became proficient in voice, piano, and drums and ended up going to Berklee College of Music for Contemporary Writing and Production. I did all this in spite of the fact that I was born with a paralyzed left hand. One of the things I pursued was piano technology. I was one of many music lovers in a family of engineers, so I decided to combine the two worlds. There were plenty of people who told me that it would be impossible, but I decided to prove them wrong. After graduating from Berklee, I became a certified piano technician at Piano Technician Academy.

        +darkened-parallax.h-50vh.bg-tuning-piano

        #section-contact
          +section({headerText: "Get in Touch"})(data-aos="fade-up")
            .text-center.w-full.max-w-xl
              form.w-full#contact-form
                +input({label: 'name', name: 'name'})
                +input({label: 'email', name: 'email', type: 'email', required: true}).mt-4
                +input({label: 'message', name: 'message', type: 'textarea', required: true}).mt-4
                .flex.justify-between.mt-4
                  .flex.items-center.text-sm.relative.flex-grow
                    .text-green-500.absolute.w-full.h-full.flex.items-center.hidden#email-form-success-message Your message was sent!
                    .text-red-500.absolute.w-full.h-full.flex.items-center.hidden#email-form-error-message There was an error. Please try again later.
                  button.bg-blue-500.rounded.px-12.py-2.text-gray-100.uppercase.text-xs.font-medium#email-form-submit-btn(type="submit" class="hover:bg-blue-400") Submit

        .bg-gray-900.h-52.pb-12.flex.flex-col.items-center.justify-end
          .text-gray-50.text-xl.uppercase One Hand Piano
          .mt-6.text-gray-500.text-sm.uppercase 226 Pleasant Street, Arlington, MA 02476
